body{
	
    font-family: 'Source Sans Pro', sans-serif;
}

@media(max-width: 1100px) {
	body{
		background-size:inherit;
	}
}

h2{
	font-family: 'Lato', sans-serif;
}

h3{
	font-family: 'Lato', sans-serif;
}


p{
	font-family: 'Source Sans Pro', sans-serif;
}

a{
	font-family: 'Lato', sans-serif;
}

a:hover{
	color:#61D6FF;
}

.homebg{
	background-image: url("Images/a10.jpg");
	color:#F1F1F1;
	background-size:cover;
}

.colourgrey{
	color:#F1F1F1;
}

.colourblack{
	color:#181718;
}

.colourlightblue{
	color:#61D6FF;
}

.colourdarkblue{
	color:#1CABD1;
}

.colourwhite{
	color:#FFFFFF;
}


.linkstyling{
	margin:10px;
	text-decoration:none;
	font-size:20px;
	
}

.importantlink{
	border-style:solid;
	padding:7px;
	border-color:#61D6FF;
	
}

.navbar{
	margin-top:17px;
}

.logoimage{
	width:200px;
	margin-top:-56px; 
}

.mainh1{
	font-size:40px;
	padding-top:10%;
}


.buttonstyling{
	background-color:transparent;
	color:#F1F1F1;
	border-color:#61D6FF;
	font-family: 'Lato', sans-serif;
	border-style:solid;
	padding:7px;
	font-size:20px;
	border-width:3px;
	cursor:pointer;
	margin-left:10px;
	margin-right:10px;
}

.buttonstyling:hover{
	color:#61D6FF;
}

.contactBtnclass{
}