body{
	
    font-family: 'Source Sans Pro', sans-serif;
}

html{
	scroll-behavior: smooth;
}

@media(max-width: 1100px) {
	body{
		background-size:inherit;
	}
}

h2{
	font-family: 'Lato', sans-serif;
}

h3{
	font-family: 'Lato', sans-serif;
}


p{
	font-family: 'Source Sans Pro', sans-serif;
}

a{
	font-family: 'Lato', sans-serif;
}

a:hover{
	color:#61D6FF;
}

.homebg{
	background-image: url("Images/a10.jpg");
	color:#F1F1F1;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-right:0px;
}

.colourgrey{
	color:#F1F1F1;
}

.colourblack{
	color:#181718;
}

.colourlightblue{
	color:#61D6FF;
}

.colourdarkblue{
	color:#1CABD1;
}

.colourwhite{
	color:#FFFFFF;
}


.linkstyling{
	margin:10px;
	text-decoration:none;
	font-size:20px;
}

.linkstyling:hover{
	cursor: pointer;
}

.linstyleclicked{
	color:#61D6FF;
}

.linstyleclicked:hover{
	color:#61D6FF;
	cursor: default;
}


.importantlink{
	border-style:solid;
	padding:7px;
	border-color:#61D6FF;
	
}

.navbar{
	margin-top:17px;
	margin-right:15px;
}

.logoimage{
	width:200px;
	margin-top:-56px;
	margin-left:15px;
}

.mainh1{
	font-size:40px;
	padding-top:10%;
}


.buttonstyling{
	background-color:transparent;
	color:#F1F1F1;
	border-color:#61D6FF;
	font-family: 'Lato', sans-serif;
	border-style:solid;
	padding:7px;
	font-size:20px;
	border-width:3px;
	cursor:pointer;
	margin-left:10px;
	margin-right:10px;
}

.buttonstyling:hover{
	color:#61D6FF;
}

.initialhidden{
	display:none;
}

.title{
	font-size:35px;
	padding-top:15%;
	padding-bottom:15%;
}

.subtitle{
	font-size:25px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

.subparagraph{
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	margin-bottom:0px;
	margin-top:0px;
}

.mainblock{
	width:95%;
}


.subblock{
	background-color:rgba(24,23,24,1);
	border-radius: 5px;
	box-shadow: 0 0 8px 8px #181718 inset;
	padding-top:20%;
	padding-bottom:20%;
}

.backgroundblock{
	
}

.floatnav{
	position:fixed;
}